a{
	text-decoration : none; /* Enleve la ligne des liens */
}


li{
	margin-top:10px;
}

.bouton {
	width:110px;
	cursor:pointer;
	padding:6px 4px 6px 4px;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:100px;
	border:1px solid #ccc;
	/*Empeche de selectionner le texte du bouton*/
	-moz-user-select: none; 	/* Firefox */
	-webkit-user-select: none; 	/* Chrome, Safari, Opéra depuis la version 15 */
	-ms-user-select: none; 		/* Internet explorer depuis la version 10 et Edge */
	user-select: none; 			/* Propriété standard */
}

.titreSection{
	margin-bottom: 30px;
	margin-top: 50px;
}

#maListe{
	margin-top: 40px;
}

#formy{
	padding:0 20% 5%;
}

