			
			<!--name : Une chaîne de caractères qui définit le nom associé au champ. 
						Ce nom sera envoyé avec la valeur lors de l'envoi du formulaire. 
				id : permet d'identifier l'élément -->	


			<!-- Les différents champs du formulaire -->
			<p> Tous les champs sont obligatoires sauf indication contraire </p>	
			
			<div class="row justify-content-md-center">
				<h1 class='center-block titreSection'> Informations </h1>
			</div>
			
			  
			<div class="form-group row">
				<label for="titreConference" class="col-lg-3 col-form-label"> <a data-toggle="tooltip" data-placement="bottom" title="Titre de l'exposé"> Titre de l'exposé </a> </label>
				
				<div class="col-lg-9">
					<input id='titreConference' class="form-control" name='titreConference' type='text'  required />
				</div>

				
			 </div>
			  
			 <div class="form-group row">
				<label for="dateConference" class="col-lg-3 col-form-label"> Date de l'exposé </label>

				<div class="col-lg-2">
					<input id='dateConference' class="form-control" name='dateConference' type='date' required />
				</div>	
				
			 </div> 
			 			  
			<div class="form-group row">
				<label for="prenomEnseignant" class="col-lg-3 col-form-label">Prénom</label>
				<div class="col-lg-3">
					<input id='prenomEnseignant' class="form-control" name='prenomEnseignant' type='text' required />
				</div>
			
				<label for="nomEnseignant" class="col-lg-3 col-form-label">Nom</label>
				<div class="col-lg-3">
					<input id='nomEnseignant'  class='form-control' name='nomEnseignant' type='text' required />
				</div>	
		
			</div>
			
			<div class="form-group row">
				<label for="service" class="col-lg-3 col-form-label">Service</label>
				<div class="col-lg-3">
					<input id='service' class="form-control" name='service' type='text' required />
				</div>
				
				<label for="employeur" class="col-lg-3 col-form-label">Employeur</label>
				<div class="col-lg-3">
					<input id='employeur' class="form-control" name='employeur' type='text' required />
				</div>
			
			</div>  
			  
			<div class="form-group row">
				<label for="priseSon" class="col-lg-3 col-form-label">Prise de son (facultatif)</label>
				<div class="col-lg-3">
					<input id='priseSon' class="form-control" name='priseSon' type='text'>
				</div>
				<label for="realisation" class="col-lg-3 col-form-label">Réalisation (facultatif)</label>
				<div class="col-lg-3">
					<input id='realisation' class="form-control" name='realisation' type='text'>
				</div>
			</div>
			

			<div class="row justify-content-md-center">
				<h1 class='center-block titreSection'> Dépôt des fichiers nécessaires </h1>
			</div> 

			<div class="form-group row justify-content-center">
				
				<div class="col-lg-3">
					<input id='fichierMarqueur' name="fichierMarqueur" class='fichier custom-file-input' type="file" accept='.txt' required='required' />
					<label for="fichierMarqueur" class="custom-file-label">Marqueur</label>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-3">
					<input id='fichierPDF' name="fichierPDF" class="fichier custom-file-input" type="file" accept='.pdf' required />
					<label for="fichierPDF" class="custom-file-label">PDF</label>
				</div>
				
			</div>
			
			<div class="form-group row justify-content-center">
				<div class="col-lg-3">
					<input id='fichierImage' name="fichierImage" class='fichier custom-file-input' type="file" accept='.png,.jpg,.jpeg' required />
					<label for="fichierImage" class="custom-file-label">Photo</label>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-3">
					<input id='fichierAudio' name="fichierAudio" class='fichier custom-file-input' type="file" accept='.mp3,.ogg,.aac' required />
					<label for="customFile" class="custom-file-label">Audio</label>
				</div>
			</div>
			
			<div class="form-group justify-content-center row">
				<label for="dureePresentation" class="col-lg-3 col-form-label">Durée du fichier audio</label>
				<div class="col-lg-2">
					<input id="dureePresentation" class='form-control' name="dureePresentation" type="time" step='1' required />
				</div>
			</div>
			
			
			<div class="row justify-content-md-center">
				<h1 class='center-block titreSection'> Construction de la table des matières </h1>
			</div> 
			
			<div class="form-group row">

				<label for="nombreDeDiapo" class="col-lg-2 col-form-label">Nombre de diapo</label>
				<div class="col-lg-2">
					<input id="nombreDeDiapo" class="form-control" name='nombreDeDiapo' type="number" step='1' min='1'> 
				</div>
				<div class='col-lg-4'> <button id='plusPartie' class="btn btn-primary btn-block" type='button'>Ajouter un chapitre</button> </div>
				<div class='col-lg-4' id='moinsPartie' style='display:none;'> <button class="btn btn-danger btn-block" type="button">Supprimer le dernier chapitre</button> </div>
			</div>
						
			<div id='maListe' >
			
				<div id='conteneur1'> 
				
					<div id='partie1' class='niveau1 form-group row'> 
					
						<label for='nomPartie1' class='col-form-label col-lg-2'> Nom Chapitre 1</label>
						<input id='nomPartie1' class='col-lg-3' name='nomPartie1' type='text' required /> 
		
						<div class='col-lg-4 row'>
							<label for='diapoPartie1' class='col-form-label col-lg-6'> Numéro diapo </label>
							<SELECT id="diapoPartie1" class="selectDiapo custom-select col-lg-6" name="diapoPartie1" required></SELECT>
						</div>
						
						<div class='col-lg-3 justify-content-center row'>
							<button class="plusSousPartie btn btn-primary col-lg-4" type='button'> + </button>
							<div class='col-lg-1'></div>
							<button class="moinsSousPartie btn btn-danger col-lg-4" type='button'> - </button>
						</div>
						
					</div>
					
				</div>
				
			</div>
			
			<!-- Variable caché pour connaître le nombre de partie -->
			<input id='nombreDePartie' name='nombreDePartie' type='hidden' value='1' />
			