/* default: 320*32px, gray */
.smil-controlBar {
  width: 320px;
  color: white;
  background-color: #FFF;

  -moz-box-shadow: 0 0 5px #727171;
  -webkit-box-shadow: 0 0 5px #727171;
  box-shadow: 0 0 5px #727171;
}
.smil-controlBar button,
.smil-timeSegments a {
  background-color: #999;
  color: white !important;
}
.smil-controlBar button:hover,
.smil-timeSegments a:hover,
.smil-timeSegments a.current {
  background-color: none;
}
.smil-controlBar button {
background:none;
border:none;
}

/* left/right toolbars */
.smil-left {
  float: left;
  margin-left: 5px;
  display: table-cell;
  vertical-align: middle;
}
.smil-right {
  float: right;
  margin-right: 5px;
  margin-top: 3px;
  display: table-cell;
  vertical-align: middle;
}
* html .smil-left { /* IE6 */
  margin-left: 2px;
}
* html .smil-right { /* IE6 */
  margin-right: 2px;
}

/* toolbar buttons */
.smil-controlBar button {
  /*display: block;*/
  /*float: left;*/
  width: 24px;
  margin: 0 -3px;
  padding: 1px 4px;
  vertical-align: middle;
  font-size: 12px;
  text-align: center;
}
* html .smil-controlBar button { /* IE6 */
  /*margin: 0 -1px;*/
  margin: 0;
  padding: 1px;
}
.smil-left  button:first-child,
.smil-right button:first-child {
  border-top-left-radius         : 10px;
  -o-border-top-left-radius      : 10px;
  -moz-border-radius-topleft     : 10px;
  -webkit-border-top-left-radius : 10px;
  border-bottom-left-radius         : 10px;
  -o-border-bottom-left-radius      : 10px;
  -moz-border-radius-bottomleft     : 10px;
  -webkit-border-bottom-left-radius : 10px;
}
.smil-left  button:last-child,
.smil-right button:last-child {
  border-top-right-radius         : 10px;
  -o-border-top-right-radius      : 10px;
  -moz-border-radius-topright     : 10px;
  -webkit-border-top-right-radius : 10px;
  border-bottom-right-radius         : 10px;
  -o-border-bottom-right-radius      : 10px;
  -moz-border-radius-bottomright     : 10px;
  -webkit-border-bottom-right-radius : 10px;
}

/* play/pause button */
button.smil-play {
  border-radius         : 10px !important;
  -o-border-radius      : 10px !important;
  -moz-border-radius    : 10px !important;
  -webkit-border-radius : 10px !important;
  height: 32px;

  /*
  border-radius         : 16px !important;
  -o-border-radius      : 16px !important;
  -moz-border-radius    : 16px !important;
  -webkit-border-radius : 16px !important;
  height: 32px;
  width: 32px;
  */
  background-image: url(progress.gif);
  background-position: center center;
  background-repeat: no-repeat;
  /*z-index: 20;*/
}
* html button.smil-play { /* IE6 */
  width: 32px;
}
button.smil-play span {
  display: none;
}

button.smil-prev span,button.smil-next span,button.smil-first span,button.smil-last span {
visibility:hidden;
}

.paused button.smil-play {
  background-image: url(media-play.png);
  cursor:pointer;
}
.playing button.smil-play {
  background-image: url(media-pause.png);
  cursor:pointer;
}
button.smil-prev {
  background-image: url(media-prev.png);
    background-position: center center;
  background-repeat: no-repeat;
  cursor:pointer;
}
button.smil-next {
  background-image: url(media-next.png);
    background-position: center center;
  background-repeat: no-repeat;
  cursor:pointer;
}
button.smil-first {
  background-image: url(media-first.png);
    background-position: center center;
  background-repeat: no-repeat;
  cursor:pointer;
}
 button.smil-last {
  background-image: url(media-last.png);
    background-position: center center;
  background-repeat: no-repeat;
  cursor:pointer;
}

* html .paused button.smil-play { /* IE6 */
  background-image: url(media-play.gif);
}
* html .playing button.smil-play { /* IE6 */
  background-image: url(media-pause.gif);
}

/* ToC button */
button.smil-tocDisplay {
  border-radius         : 5px !important;
  -o-border-radius      : 5px !important;
  -moz-border-radius    : 5px !important;
  -webkit-border-radius : 5px !important;
  height: 24px;
  width: 24px;
  background-image: url(media-toc.png);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 2;
}
* html button.smil-tocDisplay { /* IE6 */
  background-image: url(media-toc.gif);
}
button.smil-tocDisplay span {
  display: none;
}

/* timeline (width is automatically set by timecontroller.js) */
.smil-timeline {
  float: left;
  margin-left: 12px;
  margin-top: 5px;
  padding: 0;
  height: 24px;
  /*overflow: hidden;*/
  /*overflow-x: hidden;*/
  /*overflow-y: hidden;*/
  position: relative;
  border-radius         : 5px;
  -o-border-radius      : 5px;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
}
.smil-timeSegments a {
  display: block;
  float: left;
  margin: 5px 0;
  padding: 0;
  height: 12px;
  text-decoration: none;
}
.smil-timeline .smil-timeSegments a:first-child {
  border-top-left-radius         : 10px;
  -o-border-top-left-radius      : 10px;
  -moz-border-radius-topleft     : 10px;
  -webkit-border-top-left-radius : 10px;
  border-bottom-left-radius         : 10px;
  -o-border-bottom-left-radius      : 10px;
  -moz-border-radius-bottomleft     : 10px;
  -webkit-border-bottom-left-radius : 10px;
}
.smil-timeline .smil-timeSegments a:last-child {
  border-top-right-radius         : 10px;
  -o-border-top-right-radius      : 10px;
  -moz-border-radius-topright     : 10px;
  -webkit-border-top-right-radius : 10px;
  border-bottom-right-radius         : 10px;
  -o-border-bottom-right-radius      : 10px;
  -moz-border-radius-bottomright     : 10px;
  -webkit-border-bottom-right-radius : 10px;
}
.smil-timeSegments a span,
.dragging .smil-timeSegments a:hover span {
  display: none;
}
.smil-timeSegments a:hover span {
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white !important;
}

/* timeline: elapsed time */
.smil-timeCursor {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  /*width: 0;*/
  width: 20px;
  margin-left: -10px;
  z-index: 10;
  /*border-right: 2px solid white;*/
  cursor: col-resize;
  background-image: url(cursor-white.png);
  background-position: center;
  background-repeat: no-repeat;
}
.smil-currentTime {
  margin-top: 5px;
  padding: 0 8px;
  /*height: 24px;*/
  font-size: 12px;
  line-height: 24px;
}
.smil-timeSlider {
  height: 100%;
  width: 0;
  border-radius         : 10px;
  -o-border-radius      : 10px;
  -moz-border-radius    : 10px;
  -webkit-border-radius : 10px;
}

/* active item in the table of contents */
.smil-toc li.current > a {
  font-weight: bold;

}
/* IE6 sucks badly */
* html .smil-toc li.current a {
  font-weight: bold;
  color: orange !important;
}
* html .smil-toc li.current li a {
  font-weight: normal;
  color: white !important;
}
* html .smil-toc li li.current a {
  font-weight: bold;
  color: orange !important;
}
