@import url(timeline/style.css);
@import url(theme-gray.css);
@import url(layout.css);
@import url(layout-touch.css) all and (max-width: 1024px);
@media all and (min-width: 1025px) {
  div.smil-toc {
    top: 60px;
    right: auto;
    left: 0;
    height: 450px;
	background:none!important;
  }
  div#images {
    left: 360px;
  }
}

#swap {
  display: none;
}
